<style>
.container{
margin-left: 550px;
width:500px;


}
</style>
<div class="container">
    <h1 class="page-header text-primary">Login</h1>
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: 'form-control' ,placeholder: "Enter email" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
<br>
      <%= f.submit "Log in", class: "btn btn-primary" %>
    <% end %>
 </div>