
<div class="container">
    <div class="page-header">
        <h1  class="text-primary"><%= @event.name %></h1>
    </div>
    <div class="raw">
        <div class="col-md-3">
          <br><br>
          <img src="<%= @event.ev_image %>" class="img-rounded" style="width:200px ; height:200px;">

          <br><br><br>
          <ul class="list-group">
            <li class="list-group-item">Attendence Number<span class="badge"><%= @num_attendens %></span></li>
            <% if logged_in? and current_user.id != @event.user_id  %>          
         
              <% if @flag_attend==1 %>
                <li class="list-group-item"> Join Event 
                     <%= link_to 'Attend', {:controller => "events", :action => "attend", :user_id => current_user.id, :event_id => @event.id }, class:"btn btn-primary" %>
                     </li>
              <% end %>
            <% end %>

              <% if logged_in? %>
                <% if @event.user_id==current_user.id %>
                <li class="list-group-item"> Edit Event Info 
                    <%= link_to 'Edit', edit_event_path(@event), class:"btn btn-warning" %> </li>   
                 <li class="list-group-item"> Delete Event Info 
                     <%= link_to 'Destroy', @event, method: :delete, data: { confirm: 'Are you sure?' } , class:"btn btn-danger" %> </li>

               <% end %>
              <% end %>     




          </ul>
        </div>

        <div class="col-md-9">
            <div class="page-header">
            <!-- Event Info part-->
                <h3  class="text-primary">Basic Info </h3>
             </div>
             <strong> Date : </strong> <%= @event.date %> <br>
             <strong> Location : </strong> <%= @event.location %> <br>
             <div class="page-header">
                <h3 >Event Aim </h3>
             </div> <%= @event.desc %> <br>

             <!-- Comment part-->
             <div class="page-header">
                <h3 >Comments </h3>
             </div>

             <!--Display Comment part-->
              <% @comments.each do |comment| %>

                  <div id="<%= comment.id %>" class="well well-lg">

                      <div class="row">
                          <div class="col-md-2">
                            <img src="<%=User.find(comment.user_id).image.url%>" style="height:40px; width:40px;" >
                          </div>
                          <div class="col-md-10">
                            <% @user=User.find(comment.user_id) %>
                             <strong><%=link_to User.find(comment.user_id).name , @user %></strong>
                              <%= comment.body %> <br>
                           
                               <% if  logged_in? and  comment.user_id == current_user.id %>
                                    <%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %>
                              <% end %>
                          
                          </div>

                     </div>     
                        
                      
                  </div>
                  
              <% end %>

             <!-- add new comment form --> 
            <% if logged_in? %>

                <%= csrf_meta_tag %> 
                <%= form_for([@event,@event.comments.build]) do |f| %>
                     <div class="form-group"> 
                         <%= f.label :body %><br> 
                         <%= f.text_area :body ,class:"form-control",placeholder:"Add your comment here....."%> 
                         <%=  f.hidden_field :user_id  ,value: current_user.id %> 
                     </div> 

                     <div> 
                     <%= f.submit class:"btn btn-success" %> 
                     </div> 
                <% end %>

           
          <% end %>

        </div>


    </div>
</div>




        




   
  </div>
</div>  



