
<style>
#error_explanation {
  color: red;
  background-color: white;
  border: white;
}

.field_with_errors {
    background-color: white;
}
</style>

<%= form_for(@user) do |f| %>




<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


    <%= f.label :name %><br>
    <%= f.text_field :name, class: 'form-control' %>

    <%= f.label :email %><br>
    <%= f.text_field :email, class: 'form-control' %>
    <% if @flag==0  %>
    <%= f.label :password %><br>
    <%= f.password_field :password, class: 'form-control' %>
    <% end %>

   <%= f.hidden_field :is_admin, value: 0 %>
  <%= f.file_field :image %>

    <%= f.submit :submot , class: "btn btn-primary" %>

<% end %>
