<style type="text/css" media="screen">


fieldset { width: 320px; margin-top: 20px}
fieldset strong { display: block; margin: 0.5em 0 0em; }
fieldset input { width: 95%; }

ul span { color: #999; }



body {
  color: #333;
}

body, input, button {
  line-height: 1.4;
  font: 13px Helvetica,arial,freesans,clean,sans-serif;
}


a {
  color: #4183C4;
  text-decoration: none;
}

#examples a {
  text-decoration: underline;
}

#geocomplete { width: 200px}

.map_canvas { 
  width: 600px; 
  height: 400px; 
  margin: 10px 20px 10px 0;
}

#multiple li { 
  cursor: pointer; 
  text-decoration: underline; 
}
</style>


<%= form_for(@group) do |f| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% @group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="well">
    <%= f.label :location %><br>
    <%= f.text_field :location, id:"location" %>
  </div>


  <div class="well">
    
    <%= fields_for :interest do |t| %>
       <%= t.label :interest %>
       <br>
       <%= t.text_field :interest, id:"interest" ,value:"" %>
       <br/> 
        Pick up to 15 topics
    </br>
    <input type="button" id="art" class="btn btn-default" value="Art" name="Art" />
    <input type="button" id="food" class="btn btn-default" value="Food" name="Food" />  
    <input type="button" id="fun" class="btn btn-default" value="Fun" name="Fun" />
    <input type="button" id="computer" class="btn btn-default" value="Computer" name="Computer" /> 
    <input type="button" id="science" class="btn btn-default" value="Science" name="Science" /> 
    <% end %>  
  </div>


  <div class="well">
    <%= f.label :name %><br>
    <%= f.text_field :name%>
  </div>


  <div class="well">
    <%= f.label :description %><br>
    <%= f.text_field :description%>
  </div>

 <div class="well">
    <%= f.label :MambersName %><br>
    <%= f.text_field :MembersName%>
  </div> 

 <div class="well">
   <%= f.label :image %><br>
  <%= f.file_field :g_image %>
</div>

<div >
  <%= f.hidden_field :user_id, value:current_user.id %>
  <%= f.hidden_field :lang, id:"lang" %>
  <%= f.hidden_field :lat, id:"lat" %>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>


<script>
$( "#location" ).focusout(function() {

  var geocoder2 = new google.maps.Geocoder();
  var address = document.getElementById("location").value;
  geocoder2.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK)
    {
      var lat = results[0].geometry.location.A ;
      var lng = results[0].geometry.location.F;
      
      document.getElementById("lang").value = lng; 
      document.getElementById("lat").value = lat; 
    }
  });

});

    var str = "" ;
    $( "#art" ).click(function() {
        var value = $( "#art" ).val()+", ";
        $( "#art" ).hide();
        str = str + value
        document.getElementById('interest').value = str;
      
    });

    $( "#food" ).click(function() {
        var value = $( "#food" ).val()+", ";
        $( "#food" ).hide();
        str = str + value
        document.getElementById('interest').value = str;
        
    });

    $( "#fun" ).click(function() {
        var value = $( "#fun" ).val()+", ";
        $( "#fun" ).hide();
        str = str + value
        document.getElementById('interest').value = str;
        
    });

    $( "#computer" ).click(function() {
    var value = $( "#computer" ).val()+", ";
    $( "#computer" ).hide();
    str = str + value
    document.getElementById('interest').value = str;
        
    });

    $( "#science" ).click(function() {
    var value = $( "#science" ).val()+", ";
    $( "#science" ).hide();
    str = str + value
    document.getElementById('interest').value = str;
        
     });

</script>


<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<%= javascript_include_tag "geocomplete" %> 

<script>

  var geocoder;
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} 
//Get the latitude and the longitude;
function successFunction(position) {

    var lat = position.coords.latitude;
    var lng = position.coords.longitude;
      document.getElementById("lang").value = lng; 
      document.getElementById("lat").value = lat; 

    codeLatLng(lat, lng)
}

function errorFunction(){
    alert("Geocoder failed");
}
geocoder = new google.maps.Geocoder();
  function codeLatLng(lat, lng) {

    var latlng = new google.maps.LatLng(lat, lng);
    geocoder.geocode({'latLng': latlng}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
     
        if (results[1]) {

            for (var i=0; i<results[0].address_components.length; i++) {
            for (var b=0;b<results[0].address_components[i].types.length;b++) {


                if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
                    city= results[0].address_components[i];
                    break;
                }

                if (results[0].address_components[i].types[b] == "country") {
                    country= results[0].address_components[i];
                    break;
                }
            }
        }

        document.getElementById("location").value = city.short_name+","+country.short_name;
        $("#location").geocomplete(); 
       

        } else {
       
        }
      } else {
        
      }
    });
  }
</script>
