


<div class="container-fluid"  style="padding-left: 0px; padding-right:0px;  margin:0px;padding:0px;">
  <div class="jumbotron" style="background-image: url('<%= asset_path( '4.jpg' ) %>');width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-origin: center center;
    background-size: cover; padding-left: 0px; padding-right: 0px; margin-left:0px;margin-right:0px; margin:0px ; padding:0px">
  </div>

</div>






<div class="container">


<!--Search bar  -->
<div class="bs-example" data-example-id="navbar-form">
    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
         
                <button class="navbar-toggle collapsed" data-target="#bs-example-navbar-collapse-2" data-toggle="collapse" type="button"></button>

        </div>
        <div id="bs-example-navbar-collapse-2" class="collapse navbar-collapse">
      
            <div class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
            </div>

        </div>
  
    </div>
    
</nav>
</div>
<!--End Search bar  -->



  <div class="row">
    <div class="col-md-4">

      
    </div>
    <div class="col-md-2"> miles </div>
    <div class="col-md-2"> location </div>
    <div class="col-md-2">
      <%= link_to 'My Calender', mycalender_path %>
    </div>

  </div>
</div>

<div class="container">

  <p id="notice"><%= notice %></p>

<%= csrf_meta_tag %> 

<select id="interest" name="interest">
  <option value="any">any</option>
  <option value="Science">Science</option>
  <option value="Fun">Fun</option>
  <option value="Food">Food</option>
  <option value="Art">Art</option>
  <option value="Computer">Computer</option>
</select>

<input id="search_text" name="search_text" type="text" placeholder="find meetups" value="" />

<input id="geocomplete" name="geocomplete" type="text" placeholder="Type in an address" value="" />

<select id="option" name="option">
  <option value="1">1 mile</option>
  <option value="3">3 miles</option>
  <option value="5">5 miles</option>
  <option value="any distance">any distance</option>
  <input type="hidden" name="long" id ="long"/>
  <input type="hidden" name="lat" id ="lat"/>
</select>



<button id="btn" >Search</button> 


<!-- case normal user and is logged and if any userdisplay site without logging -->
<% if logged_in? and current_user.is_admin == false  or !logged_in?%>

  <div id="result" class="row">
    <% @groups.each do |group| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag group.g_image.url(:thumb) %>
        <div class="caption">
          <h3><%= group.name %></h3>
          <p> <%= group.description %></p>
          <p> <%= link_to 'Show', group , class:"btn btn-primary" %>
           
          </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
 <% else %>
<!-- case Admin user and is logged  -->
<%= link_to 'Create Group', new_group_path %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th text-align="center">Group Image</th>
          <th text-align="center">Group Name </th>
          <th text-align="center">Group Description</th>
          <th text-align="center">Group Location</th>
          <th text-align="center">Show</th>
          <th text-align="center">Edit</th>
          <th text-align="center">Delete</th>

        </tr>
      </thead>
      <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td text-align="center"><%= image_tag group.g_image.url(:thumb) , class: "thumbnail" %></td>
          <td text-align="center"><strong><%= group.name %></strong></td>
          <td text-align="center"><%= group.description %></td>
          <td text-align="center"><%= group.location %></td>
          <td><%= link_to 'Show', group , class:"btn btn-primary" %></td>
           <td><%= link_to 'Edit', edit_group_path(group),class:"btn btn-default" %></td>
           <td> <%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %></td>
          
        </tr>
        <% end %>
    </table>


 <% end %> 
</div>

<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<%= javascript_include_tag "geocomplete" %>  

<script type="text/javascript"> 

$( "#btn" ).click(function() {
  
  var geocoder2 = new google.maps.Geocoder();
  var address = document.getElementById("geocomplete").value;
  geocoder2.geocode( { 'address': address}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK)
    {
      var lat = results[0].geometry.location.A ;
      var lng = results[0].geometry.location.F;
      
      document.getElementById("long").value = lng; 
      document.getElementById("lat").value = lat; 

      var option = document.getElementById("option").value;
      var search_text = document.getElementById("search_text").value;
      var interest = document.getElementById("interest").value;

      var posting = $.post( "find", { long: lng , lat: lat , option: option, search_text: search_text ,interest: interest   } );
            
      posting.done(function( data ) {

           $("#result").html(data);


      });



    }
  });

});


var geocoder;

if (navigator.geolocation) {
  navigator.geolocation.getCurrentPosition(successFunction, errorFunction);
} 

function successFunction(position) {

  var lat = position.coords.latitude;
  var lng = position.coords.longitude;
  document.getElementById("long").value = lng; 
  document.getElementById("lat").value = lat;    
  codeLatLng(lat, lng)
}

function errorFunction(){
  alert("Geocoder failed");
}
geocoder = new google.maps.Geocoder();
function codeLatLng(lat, lng) {

  var latlng = new google.maps.LatLng(lat, lng);
  geocoder.geocode({'latLng': latlng}, function(results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      //console.log(results)
      if (results[1]) {

        for (var i=0; i<results[0].address_components.length; i++) {
          for (var b=0;b<results[0].address_components[i].types.length;b++) {

            if (results[0].address_components[i].types[b] == "administrative_area_level_1") {
              city=results[0].address_components[i];
              break;
            }

            if (results[0].address_components[i].types[b] == "country"  || results[0].address_components[i].types[b] == "administrative_area_level_2"  ) {
              country= results[0].address_components[i];
              break;
            }
          }
        }
        document.getElementById("geocomplete").value =city.short_name+","+country.short_name;
        $("#geocomplete").geocomplete(); 
        

      } else {
        
      }
    } else {
      
    }
  });
}
</script> 

