
<div class="container" >
	<div class="page-header">
		<h1  class="text-primary"><%= @group.name %></h1>
	</div>
	<div class="raw">
		<div class="col-md-3">
		<br><br>
			<img src="<%= @group.g_image %>" class="img-rounded" style="width:200px ; height:200px;">
			<br><br><br>
			<ul class="list-group">
				  <li class="list-group-item">Members<span class="badge"><%= @num_members %></span></li>
				
				<% if logged_in? and current_user.id != @group.user_id  %>				  
					<% if @flag_join==1 %>
				  		<li class="list-group-item">
						Join Group
						<span class="pull-right">
							<%= link_to 'Join', {:controller => "groups", :action => "join", :user_id => current_user.id, :group_id => @group.id }, class:"btn btn-success" %>
							</span>
						</div>
						
			   		  </li>
					<% end %>
				<% end %>	



				<% if logged_in? %>
					<% if @group.user_id==current_user.id %>
						<li class="list-group-item">Create Event

						<%= link_to 'Create Event', {:controller => "events", :action => "new", :group_id => @group.id }, class:"btn btn-primary" %> </li>

						<li class="list-group-item">Edit Group Info
							<%= link_to 'Edit', edit_group_path(@group),class:"btn btn-warning" %>
            			</li>
            			<li class="list-group-item">Delete Group	
            				<%= link_to 'Destroy', @group, method: :delete, data: { confirm: 'Are you sure?' },class:"btn btn-danger" %>
            			</li>
					<% end %>
				<% end %>	

				
			</ul>
			
		</div>

		<div class="col-md-9">
			<div class="page-header">
				<h4>Group Description :</h4>
				
			</div>
			<p> <%= @group.description %> </p>
			<div class="page-header">

				<h4>Event Listing</h4>
			</div>
			<% @events.each do |event| %>
				
				<div class="well well-lg"> 
					<div class="raw">
						<div class="col-md-2">
							<%= image_tag event.ev_image.url, style: "height:50px; width:100px;"  %>	
						</div>
							 <h5><strong><%= link_to event.name, event %></strong></h5>
						<small>  <strong><%= event.date %> </strong></small>	
				
					</div>
						
						
				</div>	
			<% end %>
		</div>

	</div>
	

</div>
</div>