<style>
h1{
	text-align: center;
}
</style>

<div class="container-fluid">
	<div class="jumbotron" style="background-image: url('<%= @group.g_image %>'); width: 100%;height:300px;no-repeat">
	</div>
</div> 

<div class="container">
	<h1 class="text-primary"><%= @group.name %></h1>
	<h1>Number of Members : <%= @num_members %></h1>
	<% if logged_in? %>
	<% if @group.user_id==current_user.id %>
	<div class="col-md-4"><%= link_to 'Create Event', {:controller => "events", :action => "new", :group_id => @group.id }, class:"btn btn-primary" %></div>
	<% end %>
	<% end %>
	<div class="col-md-4"><%= link_to 'Calender', new_event_path , class:"btn btn-info" %></div>

	<% if @flag_join==1 %>
	<div class="col-md-4" id="join"><%= link_to 'Join', {:controller => "groups", :action => "join", :user_id => current_user.id, :group_id => @group.id }, class:"btn btn-success" %></div>
	<% end %>

	<h2>Listing Events</h2>
	<% @events.each do |event| %>
	<div class="thumbnail">
		<div class="caption">
			<table align="center">
				<tr>
					<td>
						<%= image_tag event.ev_image.url(:medium) ,class: "thumbnail" %>
					</td>
					<td>
						<h1>
							<%= link_to event.name, event %>
						</h1>
						<h4>
							Date: <%= event.date %>
						</h4>
	<% if logged_in? %>
	<% if event.user_id==current_user.id %>
						<%= link_to 'Edit', edit_event_path(event) %> | <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %>
									<% end %>
	<% end %>
					</td>

				</tr>

			</table>
		</div>
	</div>
			<% end %>
				<% if logged_in? %>
	<% if @group.user_id==current_user.id %>
			<%= link_to 'Edit', edit_group_path(@group) %> |
				<% end %>
	<% end %>

			<%= link_to 'Back', groups_path %>
</div>
